ray[serve]==2.43.0
torch==2.6.0+cu121
torchvision==0.21.0+cu121
torchaudio==2.6.0+cu121
transformers==4.51.3
openai-whisper==20240930
fastapi==0.115.12
python-multipart==0.0.20
huggingface-hub==0.30.2
vllm==0.8.4
aiohttp==3.11.18
starlette==0.46.2
matplotlib==3.9.4
numpy==2.0.2
